@keyframes greeting--leaveview {
  to {
    opacity: 0;
    translate: 0 2rem;
  }
}

.greeting {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation: greeting--leaveview linear both;
      animation-timeline: scroll(root);
      animation-range: 0 10vh;
    }
  }
}
