@keyframes picture--inview {
  from {
    scale: 1.25;
  }
}

section picture {
  overflow: clip;

  > img {
    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: view()) {
        animation: picture--inview linear both;
        animation-timeline: view(x);
        animation-range: 10% 40%;
      }
    }
  }
}
