search {
  position: relative;

  display: flex;
  align-items: center;

  & > svg {
    position: absolute;
    inset-inline-start: 1em;
  }

  & > input {
    appearance: none;
    caret-color: var(--brand-primary);

    inline-size: 100%;
    block-size: 2.5rem;

    font-size: 1rem;
    line-height: 1.1;

    padding-inline: 3rem 1rem;

    border: none;
    border-radius: 3rem;
    outline: none;

    color: var(--text-1);
    background: var(--surface-2);
  }

  & > input:focus ~ svg > path {
    fill: var(--brand-primary);
  }

  @media (width <= 31.25em) {
    justify-self: flex-end;

    & > :is(svg, input) {
      display: none;
    }
  }
}
